<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="{{ path('login_check') }}" method="post">
    {{ error }}
    <input type="text" name="_username" value="{{ last_username }}"/>
    <input type="password" name="_password" value=""/>
    <input type="submit"/>
</form>
</body>
</html>