.idea
*.iml

#svn files
.svn

target
#lock file for composer
composer.lock

#lib dir
vendor

# cache dir
cache

#Log files
*.log

#Dolphin
.directory

# Atlassian module config
atlassian-ide-plugin.xml

#debug files control
mode/debug
mode/develop